.App {
  text-align: center;
}
.colorContainer{
  float: left;
  margin: 1px auto;
}
.colorcode{
  display: flex;
  justify-content: space-around;
}
.color{
  height: 40px;
  width: 60px;
  margin: 10px 50px;

}  